<div class="accordionWrapper">
  {% for block in section.blocks %}
	<div class="accordionItem close">
      <h2 class="accordionItemHeading">
        <i class="fa fa-plus mr-2 engoc-faq-icon-plus"></i>
        <i class="fa fa-minus mr-2 engoc-faq-icon-minus"></i>
        {{block.settings.acc-title}}
      </h2>
      <div class="accordionItemContent">
        {{block.settings.acc-content}}
      </div>
    </div>
  {% endfor %}
</div>
{% schema %}
  {
    "name": "Accordion",
    "settings": [],
    "blocks": [
      {
      "type": "accordion-item",
        "name": "Accordion Item",
        "settings": [
          {
            "id": "acc-title",
            "type": "text",
            "label": "Accordion Title",
			"default": "Accordion Title"
          },
          {
            "id": "acc-content",
            "type": "text",
            "label": "Accordion Content",
			"default": "Accordion Content"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Accordions",
        "category": "Custom content"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
