<div class="page-width">
	<div class="accordionWrapper">
  {% for block in section.blocks %}
	<div class="accordionItem close">
      <h2 class="accordionItemHeading">
        <span class="icon-plus">{% render 'icon-plus' %}</span>
        <span class="icon-minus">{% render 'icon-minus' %}</span>
        <div class="acc-title">{{block.settings.acc-title}}</div>
      </h2>
      <div class="accordionItemContent">
        {{block.settings.acc-content}}
      </div>
    </div>
  {% endfor %}
  </div>
</div>
{% schema %}
  {
    "name": "Accordion",
    "settings": [],
    "blocks": [
      {
      "type": "accordion-item",
        "name": "Accordion Item",
        "settings": [
          {
            "id": "acc-title",
            "type": "text",
            "label": "Accordion Title",
			"default": "Accordion Title"
          },
          {
            "id": "acc-content",
            "type": "text",
            "label": "Accordion Content",
			"default": "Accordion Content"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Accordions",
        "category": "Custom content"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
