<!-- Header top bar -->
<section class="header-top-bar page-width">
   <div class="container">
      <div class="welcome-outter">
         {% if section.settings.section-tel != blank %}
         Phone: <a href="tel:{{ section.settings.section-tel }}" class="section-heading">{{ section.settings.section-tel }}</a>
         {% endif %}
         {% if section.settings.section-email != blank %}
         Email: <a href="email:{{ section.settings.section-email }}" class="section-large-heading">{{ section.settings.section-email }}</a>
         {% endif %}
      </div>
   </div>
</section>
<!-- Header top bar ends -->
{% schema %}
{
  "name": "Top Header", // Section name
  "settings": [
        {
          "id": "section-bg",
          "type": "color",
          "label": "Select Background Color",
          "default": "#673092"
        },
		{
          "id": "section-tel",
          "type": "text",
          "label": "Telephone Number",
          "default": "123456789"
        },
        {
          "id": "section-email",
          "type": "text",
          "label": "Email Address",
          "default": "example@example.com"
        }
      ],
      "presets": [
      {
        "name": "Header Top Bar",
        "category": "ADVANCED LAYOUT"
      }
	]
}
{% endschema %}