<div class="page-width">
  <div class="items-slider">
  {% for block in section.blocks %}
      <div class="single-slick-slide">
        <div class="testimonial-inner">
          <div class="testimonial-info">
            {% if block.settings.slide-img != blank %}
              <img src="{{ block.settings.slide-img | img_url: 'medium'}}" />
            {% endif %}
            <strong>{{ block.settings.slide-name }}</strong>
            {{ block.settings.slide-description }}
          </div>
        </div>
      </div>
  {% endfor %}
  </div>
</div>
{% schema %}
{
  "name": "Slider",
  "class": "slider-class",
  "settings": [],
  "blocks": [
    {
    "type": "slider",
	  "name": "slide",
      "settings": [
        {
          "id": "slide-img",
          "type": "image_picker",
          "label": "Select Image"
        },
        {
          "id": "slide-name",
          "type": "text",
          "label": "Add Author Name"
        },
        {
          "id": "slide-description",
          "type": "textarea",
          "label": "Add Testimonial Content"
        }
      ]
    }
  ],
  "max_blocks": 20,
  "presets": [
    {
      "name": "Slider",
      "category": "Custom content"
    }
  ]
}
{% endschema %}