<div>
	<{{ section.blocks.settings.title-heading }}>{{ section.settings.title-heading }}</section.blocks.settings.title-heading>
</div>
{% schema %}
{
  "name": "Title",
  "class": "slider-section1",
  "settings": [
  	{
		"type": "text",
		"id": "title-heading",
		"label": "Title Heading"
	}
  ],
  "blocks": [
    {
    "type": "titlesettings",
	  "name": "title",
      "settings": [
        {
          "id": "title-tag",
          "type": "text",
          "label": "Tigle Tag"
        },
		{
         "type": "font_picker",
         "id": "header_font_new",
         "label": "Font",
         "default": "work_sans_n6"
       }
      ]
    }
  ],
  "max_blocks": 20,
  "presets": [
    {
      "name": "Title",
      "category": "Custom content"
    }
  ]
}
{% endschema %}