<section class="page-width">
  <h2>{{ sections.settings.section_title}}</h2>
  <div class="unorderd-list-description">{{ sections.settings.section_description}}</div>
</section>
{% schema %}
  {
    "name": "Unordered list",
    "settings": [
		{
          "type": "text",
          "id": "section_title",
          "label": "Title"
		},
		{
          "type": "richtext",
          "id": "section_description",
          "label": "Description"
		}
	],
	"blocks": [
		{
		  "type": "Item",
          "name": "Item",
          "settings": [
              {
                  "type": "text",
                  "id": "title",
                  "label": "Heading"
              },
              {
                  "type": "richtext",
                  "id": "description",
                  "label": "Description"
              }
          ]
		}
	],
	"presets": [
      {
        "name": "Underorderd list",
        "category": "Custom content"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
